@charset "UTF-8";

/*display:flex;
flex-direction: row OR column;
flex: 1, 2, 3, 4;
flex-flow:
justify-content: center; - horizontal - na direção
align-items: center; - vertical -inverso da direção 
*/

.container {
  display: flex;
  height: 500px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #dddddd;
  margin: 10px;
}

.container div {
  width:100px;
  height: 100px;
  background-color: #ff0000;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
}



